NODE_ENV="development"
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=password
DB_NAME=mrc_db
HOST="localhost"
PORT=4000
JWT_SECRET="changeme" # Change this in production
CROSS_SITE_COOKIES=false # Set to true in production if frontend is on a different domain
LASTFM_API_KEY=""
LAST_FM_SHARED_SECRET="" # Currently not used
#FRONTEND_ORIGIN="https://myrecordcollection.app" # Change to frontend URL in production
#VITE_GA_MEASUREMENT_ID="" # Google Analytics Measurement ID, e.g. G-XXXXXXXXXX
DISCOGS_API_KEY=""
DISCOGS_API_SECRET=""